# Web Framework
fastapi
uvicorn
gunicorn
pydantic
python-multipart

# Data Processing & ML
pandas
numpy
prophet
scikit-learn
matplotlib

# Required by Prophet
cmdstanpy
convertdate
ephem
holidays
tqdm

# Tariff API Dependencies
google-generativeai
google-cloud-aiplatform
google-api-core
google-auth

# Environment & Config
python-decouple
python-dotenv